* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

header {
  padding: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-color: darkslategrey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: white;
}

.main-label {
  font-family: "Architects Daughter", cursive;
  font-size: 1.5rem;
}

.header-nav {
  max-width: 30em;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  padding: 20px 0;
  font-weight: bolder;
  text-transform: uppercase;
}

.contact-button {
  border: 2px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px 20px;
  font: inherit;
  font-size: 0.7rem;

  background-color: darkslategrey;
}

img {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  object-position: center;
}
